version: '3.9'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.web
    container_name: bandnames_web
    ports:
      - "8085:8080"
    depends_on:
      - db
    env_file:
      - .env
    develop:
      watch:
        - action: sync
          path: ./app
          target: /app
        - action: rebuild
          path: Dockerfile.web


  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  adminer:
    image: adminer:latest
    restart: unless-stopped
    ports:
      - "8086:8080"
    depends_on:
      - db

volumes:
  db_data:
    driver: local
